<ion-view view-title="Model Note" ng-init="blinds();">
    <ion-content class="page">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <div class="list">
                        <button ng-show="failure" class="button button-block button-assertive ion-close-circled">&nbsp;&nbsp;Error. Please retry.</button>
                        <button ng-show="success" class="button button-block button-balanced ion-checkmark-circled">&nbsp;&nbsp;Model Note saved!</button>
                        <form name="myForm" novalidate>
                          <div class="button-bar">
                            <div class="item item-input-inset">
                               <input ng-required="true" type="text" ng-model="modelNote.model" placeholder="Model">
                            </div>
                          </div>
                          <textarea ng-required="true" ng-model="modelNote.notes" placeholder="Notes" class="event-text button button-block"></textarea>
                          <div class="button-bar">
                           <button ng-disabled="myForm.$invalid" ng-click="saveModel()" class="button button-royal">Save</button>
                           <button ng-click="backToMenu()"class="button button-light">Cancel</button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
