<ion-view view-title="Single Device Event" ng-init="blinds();">
    <ion-content class="page">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <div class="list">
                        <button ng-show="failure" class="button button-block button-assertive ion-close-circled">&nbsp;&nbsp;Error. Please retry.</button>
                        <button ng-show="success" class="button button-block button-balanced ion-checkmark-circled">&nbsp;&nbsp;Event logged!</button>
                        <form name="myForm" novalidate>
                            <textarea placeholder="Event" ng-required="true" rows="2" cols="20" ng-model="eventNote.event" class="event-text button button-block"></textarea>
                            <div class="button-bar">
                                 <input class="text-left event-text button button-block" ng-required="true" type="text" ng-pattern="regexDevice" ng-model="eventNote.device" placeholder="Device ID">
                            </div>
                            <div class="button-bar">
                             <button ng-disabled="myForm.$invalid" ng-click="saveEvent()" class="button button-royal">Save</button>
                             <button ng-click="backToMenu()" class="button button-light">Cancel</button>
                        </form>
                    </div>
                        <h3>Last Logged Event</h3>
                        <div class="text-left">
                            <h4>Event</h4>
                            <h5>{{lastEvent.x_event_desc}}</h5>
                            <h4>Date / Creator</h4>
                            <h5>{{lastEvent.x_timestamp}} / {{lastEvent.x_creator}}</h5>
                            <h4>Device ID</h4>
                            <h5>{{lastEvent.x_device_id}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
